.chat-list-item {
  position: relative;
  display: block;
  padding: 12px 16px;
  height: 80px;
}

.chat-list-item::after {
  content: "";
  position: absolute;
  top: 2px;
  right: 4px;
  width: 12px;
  height: 12px;
  background-color: grey;
  border-radius: 50%;
}

.chat-list-item:hover {
  cursor: pointer;
  background-color: var(--app-bg-dark-1);
}

.chat-list-item:hover {
  background-color: var(--app-bg-light-1);
  display: block;
}

.selected {
  background-color: var(--app-bg-light-1);
}

.online {
  position: relative;
}

.typing-placeholder {
  font-size: 10px;
}

.online::after {
  background-color: green;
}

.chat-list-item:focus {
  outline-color: var(--app-color-focus);
}

.chat-name {
  font-weight: 500;
  font-size: 16px;
}

.last-message {
  font-size: 12px;
}

.no-messages-placeholder {
  font-size: 10px;
}

.last-message-timestamp {
  font-size: 12px;
  max-width: 60px;
  max-height: 20px;
  overflow: hidden;
  display: inline-block;
}

.status {
  margin-left: 4px;
  align-self: start;
  font-size: 20px;
  color: var(--app-primary-light-3);
}

.unread-indicator {
}
