.chat-message {
  display: inline-block;
  width: fit-content;
  padding: 8px 8px;
  border-radius: 4px;
  font-size: 13px;
  background-color: var(--app-bg-dark-1);
}

.personal {
  background-color: var(--app-primary-dark-2);
}

.sent-timestamp {
  font-size: 10px;
}
