.chat {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px 20px 4px;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: 16px;
}

.chat-messages-container {
  display: inline-flex;
  flex-direction: column;
  gap: 16px;
  flex: 1;
}

.chat-input-container {
  flex: 0 0 48px;
}

.chat .no-messages-placeholder {
  display: flex;
  padding: 4px 8px;
  text-align: center;
  background-color: var(--app-bg-light-2);
  width: fit-content;
  margin: 0 auto;
  border-radius: 4px;
}

.chat .no-chat-selected-placeholder {
  display: flex;
  padding: 4px 8px;
  text-align: center;
  background-color: var(--app-bg-light-2);
  width: fit-content;
  border-radius: 4px;
}
