.chat-list {
  height: 100%;
}

.chat-list ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.chat-list .no-history-placeholder,
.no-chats-found-placeholder {
  display: flex;
  text-align: center;
  width: fit-content;
  margin: 0 auto;
  background-color: var(--app-bg-light-1);
  border-radius: 16px;
  padding: 4px 12px;
}
