.chat-composer {
  flex: 0 0 auto;
}

.chat-input-module {
  display: flex;
  gap: 20px;
  align-items: center;
}

.input-container {
  flex: 1;
}

.input-container input {
  background-color: var(--app-bg-light-1);
  border: none;
}

.actions {
  flex: 0 0 auto;
}

