.chat-composer {
  flex: 0 0 auto;
}

.chat-input-module {
  display: flex;
  gap: 12px;
  align-items: center;
  background-color: var(--app-bg-light-5);
}

.input-container {
  flex: 1;
}

.input-container input {
  border: none;
}

.actions {
  flex: 0 0 auto;
  padding-right: 4px;
}
