.header {
    display: flex;
    justify-content: center;
    padding: 8px 40px;
}
.header #input-file-search {
    border-radius: 16px;
    width: min(80%, 600px);
    outline: none;
    border: none;
    background-color: rgba(164, 164, 168, 0.8);
    height: 40px;
    padding: 0 12px;
    color: black;
}

.header #input-file-search:focus {
    border: 2px solid var(--app-color-bg-white-shade);
}


#input-file-search::-webkit-search-cancel-button {
    -webkit-appearance: caps-lock-indicator;
}
