.sign-in-form {
  min-width: 300px;
  border-radius: 16px;
  padding: 24px;
  height: 100%;
  min-height: 200px;
  border: none;
}

.sign-in-form form {
  max-width: 400px;
  margin: 0 auto;
}

.sign-in-form fieldset {
  border: none;
}

.sign-in-form legend {
  width: 100%;
  margin-bottom: 4px;
}

.sign-in-form h1 {
  text-align: center;
  font-size: 24px;
}

.sign-in-form h1 span {
  color: var(--app-color-primary);
  font-weight: bold;
  text-decoration: underline;
}

.sign-in-form h2 {
  text-align: center;
  font-size: 16px;
  margin: 0;
  margin-bottom: 16px;
}

.sign-in-form-actions {
  margin-top: 20px;
  display: flex;
  justify-content: end;
}

.sign-in-form legend {
    width: 100%;
    margin-bottom: 8px;
}

.sign-in-form h1 {
    text-align: center;
    font-size: 56px;
}

.sign-in-form h2 {
    text-align: center;
    font-size: 24px;
    margin: 0;
    margin-top: 8px;
    margin-bottom: 8px;
}
