.user-sidebar {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  background-color: var(--app-bg-dark-1);
  border-right: .5px solid var(--app-bg-dark-3);
  height: 100%;
  max-width: 580px;
  transition: transform 0.2s ease-in-out;
}

.user-sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

.user-sidebar-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.chats-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: 16px;
}

.chat-search-container {
  padding: 12px;
}

.chat-search-container input {
  background-color: var(--app-bg-light-1);
}