.user-sidebar {
  width: 380px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  padding-right: 12px;
}

.user-sidebar:after {
  position: absolute;
  content: "";
  width: 2px;
  height: 90%;
  background-color: var(--app-bg-light-3);
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.user-sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

.user-sidebar-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 4px 8px;
}

.chats-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: 16px;
}
