.text-field {
  position: relative;
}
.text-field label {
  display: block;
  width: 100%;
  padding-bottom: 4px;
}

.text-field input {
  width: 100%;
  height: 32px;
  border-radius: 12px;
  border: 1px solid var(--app-bg-light-4);
  background-color: var(--app-bg-light-5);
  padding: 0 8px;
  font-size: 16px;
}

.text-field input:focus {
  outline-color: var(--app-color-focus);
}

.text-field input::placeholder {
  color: var(--app-color-bg-white-shade);
}

.text-field.large input {
  height: 40px;
}
.text-field.small input {
  height: 28px;
}

.text-field.rounded input {
  border-radius: 24px;
}

.text-field input {
  border-radius: 24px;
}

.text-field.square input {
  border-radius: 0;
}

.text-field input:required {
  position: relative;
}
.text-field input:required:after {
  content: "*";
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
  font-size: 20px;
  color: red;
}

@keyframes spin {
  from { transform: translateY(-50%) rotate(0deg); }
  to   { transform: translateY(-50%) rotate(360deg); }
}

.text-field.loading .spinner {
  display: block;
  position: absolute;
  right: 8px;
  top: 50%;
  width: 24px;
  height: 24px;
  border: 3px solid var(--app-primary-light-2); /* Light grey */
  border-top: 3px solid var(--app-primary-light-3); /* Blue */
  border-radius: 50%;
  animation: spin 1s linear infinite;
  transform: translateY(-50%);transform: translateY(-50%);
}
