.app-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app-layout-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  position: relative;
}

.app-layout-header:after {
  position: absolute;
  content: "";
  width: 95%;
  height: 2px;
  background-color: var(--app-bg-light-3);
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}

.app-layout-header h1 {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  color: var(--app-primary-light-1);
  font-weight: bold;
}

.sign-out-btn {
  padding: 8px 16px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.2s ease;
}

.sign-out-btn:hover {
  background: var(--app-color-danger-hover, #c82333);
}

.app-layout-content {
  display: flex;
  overflow: hidden;
  padding-top: 20px;
}

.app-layout-main {
  display: flex;
}

.app-layout-content main {
  flex: 1;
}

.app-layout-content main > div {
  flex: 1;
}

@media screen and (max-width: 639px) {
  .app-layout-content {
    flex-direction: column;
  }
}
