.chat-view {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--app-bg-dark-3);
  position: relative;
}

.chat-view-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.chat-view > .chat,
.chat-view > .chat-list {
  height: 100%;
}

.chat-view > .chat {
  flex: 1;
}

.chat-view > .chat-list {
  flex: 0 0 30%;
}

@media screen and (max-width: 639px) {
  .chat-view {
    margin: 0;
    display: flex;
    flex-direction: column-reverse;
    overflow: hidden;
  }
}


.select-chat-placeholder {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--app-bg-light-1);
  border-radius: 16px;
  padding: 4px 12px;
}